body {
  background-color: #D4ECDD;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  border-color: grey;
  width: 10%
}
img {
  height: 150px;
}
h3{
  color: #66BFBF;
}
h1{
    color: #66BFBF;
}
